{% extends "base.html.j2" %}

{% block title %}Membership agreement{% endblock %}

{% block contents %}
<p>In order to become a member of Bristol Hackspace you will need to agree to the terms below. Please read these carefully as they contain important information about how to safely and considerately use our space.</p>
<h2>Membership</h2>

<p>Your membership supports our unique creative space and community. It also gives you 24hr access to our facilities, access to our online services, and legal voting rights in our General Meetings.</p>
<p>Your membership is personal and cannot be shared with or transferred to other people.</p>
<p>In the unlikely event that the organisation is wound up due to insolvency, as a member (and for 10 years after membership ends) your personal liability is limited to a maximum of £1.</p>
<p><strong>You agree to:</strong></p>

<ol class="rule-list">
<li>Make a monthly membership payment by direct debit, of at least our minimum amount.</li>
<li>Keep our legal record of your membership details up-to-date (name, address, email).</li>
<li>Never share your membership and it’s benefits with anyone else, or transfer it to them.</li>
</ol>


<h2>Health & Safety</h2>

<p>The Hackspace is an unsupervised shared workshop environment, containing a variety of potential hazards. We aim to manage risks where feasible, with measures like safety inductions and protective equipment. It is your responsibility to always work safely, not put others at risk, and follow any safety directions.</p>
<p><strong>You agree to:</strong></p>

<ol class="rule-list">
<li>Always take reasonable care of your own and other people's health and safety.</li>
<li>Never circumvent or disable our safety equipment (such as guards, extraction, enclosures, or interlocks).</li>
<li>Hold a valid safety induction when using any equipment that requires one, and follow the directions in your induction.</li>
<li>Follow the instructions on all safety signage.</li>
<li>Wear PPE where indicated.</li>
<li>Never use modified, damaged, or incomplete equipment.</li>
<li>Never modify our equipment. Seek authorisation from the committee before repairing equipment.</li>
<li>Familiarise yourself with our fire procedures.</li>
</ol>

<h2>Lone Working</h2>

<p>You are ‘lone working’ if you visit the Hackspace when no other adults are present (either members or guests over 18).</p>
<p>Lone working increases the risk of everything you do at the Hackspace and you should avoid it where practical. When lone working can’t be avoided, there are additional safety rules you need to follow.</p>
<p>It’s important that you always stay aware of whether you are currently lone working or not, as this can change during your visit.</p>
<p><strong>When lone-working at Hackspace, You agree to:</strong></p>

<ol class="rule-list">
<li>Keep a means of seeking help (such as a charged mobile phone) on your person.</li>
<li>Before starting any activity, assess the risks involved and avoid tasks which are not suitable for lone working.</li>
<li>Never attempt manual handling activities that are not safe for one person.</li>
<li>Never use any machinery identified as not suitable for lone working</li>
<li>Ensure you are familiar with the location and use of our first aid equipment.</li>
</ol>


<h2>Housekeeping</h2>

<p>Hackspace is 100% run by its members on a voluntary basis. There’s no staff, so housekeeping is everyone’s responsibility. You should leave the space in the condition you’d want to find it, dispose of your waste, and help to keep the building secure.</p>
<p><strong>You agree to:</strong></p>

<ol class="rule-list">
<li>Always leave desks and work areas clear and tidy for the next user.</li>
<li>Clean up any mess and waste you make and dispose of it correctly.</li>
<li>Put tools, equipment, and materials back in the correct places.</li>
<li>Never leave the roller shutter or exterior doors open and unattended.</li>
<li>Never give your keycard to anyone else.</li>
<li>Not mark your keycard with Hackspace or our address.</li>
</ol>


<h2>Storage</h2>

<p>We have two systems which offer short-term storage for your projects and materials. </p>
<p>Because space is at a premium, you shouldn’t leave your stuff anywhere other than in these systems. Items may be disposed of without warning if they’re left in the wrong place, if they’re stored in in the right place without a booking, or if we think they’re dangerous.</p>
<p>We accept no liability for anything you leave in the space.</p>
<p><strong>You agree to:</strong></p>

<ol class="rule-list">
<li>Only store your belongings at Hackspace in accordance with our two storage systems, or with prior agreement from the committee.</li>
<li>Never store anything valuable at Hackspace.</li>
<li>Never store dangerous items at the Hackspace.</li>
</ol>


<h2>Acceptable Usage</h2>

<p>Hackspace is intended as a place to learn, make, repair, experiment, collaborate, and socialise. You can use the space as much as you like for these purposes, but there are some things you must not do at Hackspace.</p>
<p><strong>You agree to:</strong></p>

<ol class="rule-list">
<li>Never sleep in the Hackspace (or in a vehicle on the forecourt).</li>
<li>Never use Hackspace as your personal or business address.</li>
<li>Never remove tools or equipment from the space. We do not loan out equipment.</li>
<li>Never monopolise shared resources to the detriment of other users.</li>
<li>Never park on the building forecourt, except when using our designated bay for loading or for working on a project.</li>
<li>Never intentionally damage our equipment, furniture, or the building.</li>
<li>Never break the law when using the Hackspace.</li>
</ol>


<h2>Guests</h2>

<p>You are welcome to bring non-member guests with you to the Hackspace. You are responsible for your guests and their actions throughout their visit and must not leave them in the space alone. </p>
<p>Children (those under 18) and well-behaved pets are welcome as guests too, however additional rules apply.</p>
<p><strong>You agree to:</strong></p>

<ol class="rule-list">
<li>Inform your guests of Hackspace’s rules.</li>
<li>Never leave your guests in the space when you’re not there.</li>
<li>Never allow your guests to use equipment protected by a safety induction. Safety inductions are not transferable. </li>
<li>Closely supervise guest children and pets at all times.</li>
<li>Keep pets out of the woodshop and metalshop.</li>
</ol>



<h2>Safe Space</h2>

<p>We strive to be an inclusive environment where everyone feels welcome, respected, and safe. We do not tolerate harassment in any form, either in our space or on our online services. You can read our full inclusivity statement here.</p>
<p>You agree to: </p>

<ol class="rule-list">
<li>Always treat other members with respect, both in the space and online.</li>
<li>If asked, immediately stop any behaviour which makes others feel uncomfortable, intimidated, or harassed.</li>
</ol>

{% endblock %}